*.pyc
.vscode/
build/
notas.txt


**/top_block.py
!examples/Scripts Python/Scripts/*/top_block.py



__pycache__/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

#/examples/BPSK Ladams



*.data
*.txt
*.wav